[user]
	name = Noah Doersing
	email = git@noahdoersing.com
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
[help]
	autocorrect = 1
[core]
	excludesfile = /Users/noah/.gitignore_global
[credential]
	helper = osxkeychain
[diff]
	noprefix = true
